{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}

<div class="container-fluid">  
    <div class="row">
        <div class="col-md-2"> 
            
            {% include 'layouts/shared/_menu_magasin.html'%}
            
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">     
            <div class="card">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <h5 class="card-header card text-center"> <i class="fa fa-plus" > Ajouter un nouveau Magasin:</i></h5>
                    <div class="card-body">
                        <div class="border border_secondary rounded-sm">
                            <form ACTION="{{ url_for('ajouter_magasin') }}" name="ajout_util" id="form" class="form-horizontal " enctype="multipart/form-data" method="POST" >
                                <div class="form-group row">
                                    <input id="adresse" type="text" class="form-control" name="nvl_ens" value="" hidden >     <!--un champ sur lequel je fais le test si j accède à ajouter magasin après l ajout d une nouvelle enseigne ou via la rubrique magasin-->                                   
                                    
                                    <div class="col-sm-1">
                                    </div>
                                    <label  class="col-sm-4 col-form-label"><strong>Enseigne:</strong></label>
                                    <div class="col-sm-6">
                                        <select name="liste_ens" class="custom-select my-1 mr-sm-2" required>
                                            <option value="" disabled selected>  Choisissez une enseigne</option>
                                            {% for i in range(nbre_ens) %}
                                                <option value="{{enseigne[i][0]}}">  {{enseigne[i][1]}} </option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                    <div class="col-sm-1">
                                    </div>       
                                </div>
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="code" class="col-sm-4 col-form-label"><strong>Code Magasin:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="code" type="text" class="form-control" name="code" value="{{code}}" required > 
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>        
                                        
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="adresse" class="col-sm-4 col-form-label"><strong>Adresse du magasin:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="adresse" type="text" class="form-control" name="adresse" value="{{adresse}}" required > 
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>     
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="heure" class="col-sm-4 col-form-label"><strong>Heure de livraison:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="heure" type="time" class="form-control" name="heure" value="{{heure}}" required > 
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>                                              
                                        
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="rolls" class="col-sm-4 col-form-label"><strong>Tarif Rolls:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="rolls" type="text" class="form-control" name="rolls" value="{{rolls}}" > 
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>                                            
                                       
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="pallete" class="col-sm-4 col-form-label"><strong>Tarif Palette:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="pallete" type="text" class="form-control" name="palette" value="{{palette}}" >   
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>     
                                                                               
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                        </div>
                                        <label for ="box" class="col-sm-4 col-form-label"><strong>Tarif Box:</strong></label>
                                        <div class="col-sm-6">
                                            <input id="box" type="text" class="form-control" name="boxe" value="{{boxe}}" >    
                                        </div> 
                                        <div class="col-sm-1">
                                        </div>       
                                    </div>      
                                        
                                        
                                        
                                    
                                    <div class="card-footer text-center">
                                        <button type="submit" href="#" class="btn btn-primary"> Ajouter</button> 
                                        <button type="reset" class="btn btn-primary" > Annuler</button>                         
                                    </div>
                            </form>     
                        </div>      
                    </div>                     
            </div>  
        </div>
    </div>      
</div>




{% endblock%} 