{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">  
    <div class="row">
        <div class="col-md-2">  
            {% include 'layouts/shared/_menu_compteUser_admin.html'%}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">     
            <div class="card">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <h5 class="card-header card text-center"><i class="fa fa-user-plus" >  Ajouter un nouvel utilisateur: </i></h5>
                    <div class="card-body">
                        <div class="border border_secondary rounded-sm">
                            <form ACTION="{{ url_for('ajouter_user') }}" name="ajout_util" id="form" class="form-horizontal default" enctype="multipart/form-data"  method="POST" >
                                <div class="form-group">
                                    <select name="liste_roles" class="custom-select my-1 mr-sm-2" required>
                                        <option value="" disabled selected>  Choisissez un Rôle   </option>
                                        {% for i in range(nbre_role) %}
                                            <option value="{{role[i][0]}}">  {{role[i][1]}} </option>
                                        {% endfor %}
                                    </select>
                                    <label for ="user" class="col-form-label">Pseudo:</label>
                                    <input id="user" type="text" class="form-control" name="pseudo" value="{{pseudo}}" required >                                        
                                    <label for ="nom" class="col-form-label">Nom:</label>
                                    <input id="nom" type="text" class="form-control" name="nom" value="{{nom}}" required >                                        
                                    <label for ="prenom" class="col-form-label">Prénom:</label>
                                    <input id="prenom" type="text" class="form-control" name="prenom" value="{{prenom}}" required >                                        
                                    <label for ="mdp" class="col-form-label">Mot de passe:</label>
                                    <input id="mdp" type="password" class="form-control" name="mdp" value="{{mdp}}" required>                                        
                                    <label for ="Conmdp" class="col-form-label">Confirmer mot de passe:</label>
                                    <input id="Conmdp" type="password" class="form-control" name="Cmdp" value="{{Cmdp}}" required >                                        
                                </div>   
                                <div >
                                    <button type="submit" href="#" class="btn btn-primary"> Ajouter</button> 
                                    <button type="reset" class="btn btn-primary" > Annuler</button>                         
                                </div>
                            </form> 
                        </div>      
                    </div>   
            </div>  
        </div>
    </div>    
</div>


{% endblock%} 