<!doctype html>
<html lang="fr">
<meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facture Casino</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Facturation Journalière détaillée de CASINO du {{date_tour}}:</h1>
        <div class="row">
            <div class="col-6">
                {% set ns = namespace(found=false) %}
                {% set ns.nbTotalRolls=0%}
                {% set ns.nbTotalPal=0%}
                {% for tarif in L_tarif %}
                    {% set ns.total_rolls=0%}
                    {% set ns.total_pal=0%}
                    <table class="table">
                        <thead class="table-warning">
                            <tr>
                                <th rowspan=2 class="align-middle">Code Magasin</th>
                                <th>Tarif Rolls</th>
                                <th>Tarif Palette </th>
                            </tr>
                            <tr>
                                <th>{{ tarif[0] }}</th>
                                <th>{{ tarif[1] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mag in L_magasin if mag[1]==tarif[0]%}
                                <tr>
                                    <td>{{ mag[0] }}</td>
                                    <td>{{ mag[2] }}</td>
                                    <td>{{ mag[4] }}</td> 
                                </tr>
                                {% set ns.total_rolls=ns.total_rolls+mag[2] %}
                                {% set ns.total_pal=ns.total_pal+ mag[4]%}
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-active">
                                <tr>
                                    <td>Total</td>
                                    <td>{{ ns.total_rolls |round(2)}}</td>
                                    <td>{{ ns.total_pal|round(2) }}</td>
                                    {% set ns.nbTotalRolls=ns.nbTotalRolls+ns.total_rolls %}
                                    {% set ns.nbTotalPal=ns.nbTotalPal+ns.total_pal%}
                                </tr>
                            </tfoot>
                        </table>
                {% endfor %}

               
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Code magasin</th>
                            <th colspan=2>Trinômes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set ns.totale_rolls_trinome=0 %}
                        {% set ns.totale_pal_trinome=0 %}
                        {%for ligne in L_trinome  %}
                        <tr>
                            <td>{{ ligne[0] }}</td>
                            {% set ns.totale_rolls_trinome=ns.totale_rolls_trinome+ ligne[2] %}
                            {% set ns.totale_pal_trinome=ns.totale_pal_trinome+ ligne[4] %}
                            {% if ligne[1]==-1 %}
                                <td>{{ ligne[2]|int }}(Trinôme)</td>
                            {% else %}    
                                <td>{{ ligne[2]|int }}({{ligne[1]}}€)</td>
                            {%endif%}    
                            {% if ligne[4]!=0%}
                                <td>{{ ligne[4]|int }}({{ligne[3]}}€)</td>
                            {% else %}
                                <td>00</td>
                            {% endif %}    
                        </tr>
                        {% endfor %}
                        <tr class="table-active">
                            <td>Total</td>
                            <td>{{ ns.totale_rolls_trinome|round(2) }}</td>
                            <td>{{ ns.totale_pal_trinome|round(2) }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Total global</th>
                            <th>{{ (ns.nbTotalRolls + ns.totale_rolls_trinome)|round(2)}}</th>
                            <th>{{ (ns.nbTotalPal + ns.totale_pal_trinome)|round(2) }}</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
                   
    </div>
<body>
