<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Feuille de Route</title>
        <meta name="pdfkit-page-size" content="Legal"/>
        <meta name="pdfkit-orientation" content="Landscape"/>
    </head>
    <body>
        <font size="2pt"> 
        <div class="container-fluid">
            <div style = "display:block; clear:both; page-break-after:always;"></div>
            <div class="row">  
                <strong> <h3><em class="list-group-item list-group-item-action list-group-item-info text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ORDRE DE MISSION Du {{date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></h2></strong>
               <!--<img src="D:\PerrenotStage\PerrenotWeb\perrenot_web\static\images\jp-feuille-route.png"/>-->
               <!-- <img src="{{url_for('static', filename='images/jp-feuille-route.png', _external=True)}}" />-->
            </div>
            <div class="row">
                <div class="col-6">     
                    <table class="table table-bordered border-primary">
                        <thead>
                            <tr>
                                <th class="table-warning " scope="col">Véhicule: {{chauffeur[5]}}</th>
                                <th class="table-warning " scope="col">Chauffeur "{{chauffeur[1]}} {{chauffeur[2]}}" </th>
                                <th class="table-warning" scope="col">Remorque</th>
                                <th class="table-warning" scope="col">Heure de prise de poste:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div> 
                
               
               
            </div>    
            <div class='row'>  
                
                  
                <div class="col-12">     
                    <table class="table table-bordered table-striped">
                        <thead class="table-active">
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">LITRAGE</th>
                                <th scope="col">LIEU DE PRISE</th>
                                <th colspan=2>Kilométrage</th>
                                <th colspan=2 scope="col">HORAIRE</th>
                                <th colspan=3 class="align-middle"> PASSAGE AUTOROUTE</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>GASOIL</td>
                                <td>     </td>
                                <td>    </td>
                                <td>KM Départ</td>
                                <td style="width:9%;">    </td>
                                <td>heure Départ</td>
                                <td style="width:9%;">    </td>
                                <td scope="col">LA BARQUE</td>
                                <td scope="col">OUI</td>
                                <td scope="col">NON</td>
                            </tr>
                            <tr>
                                <td>FLUE</td>
                                <td>    </td>
                                <td>  </td>
                                <td>KM Arrivée</td>
                                <td>    </td>
                                <td>heure Arrivée</td>
                                <td>    </td>
                                <td>ALLER</td>
                                <td>     </td>
                                <td>    </td>
                            </tr>
                            <tr>
                                <td>AD BLUE</td>
                                <td>     </td>
                                <td>     </td>
                                <td>Nombre KM</td>
                                <td>    </td>                                
                                <td>Pause</td>
                                <td>    </td>
                                <td>RETOUR</td>
                                <td>    </td>
                                <td>  </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                 
               
            </div>    
            <!--<div class='row'>  
                  
                <div class="col-6">     
                    <table class="table table-bordered border-primary">
                        <thead>
                            <tr>
                                <th colspan=4 class="align-middle"> QUANTITE RESERVOIR GAZOIL</th>
                            </tr>
                            <tr>   
                                <th colspan=2 class="align-middle">DEBUT DE SERVICE</th>
                                <th colspan=2 class="align-middle">FIN DE SERVICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RESERVE</td>
                                <td>     </td>
                                <td>RESERVE</td>
                                <td>     </td>
                            </tr>
                            <tr>
                                <td>1/4</td>
                                <td>     </td>
                                <td>1/4</td>
                                <td>     </td>
                            </tr>
                            <tr>
                                <td>1/2</td>
                                <td>     </td>
                                <td>1/2</td>
                                <td>     </td>
                            </tr>
                            <tr>
                                <td>1/3</td>
                                <td>     </td>
                                <td>1/3</td>
                                <td>     </td>
                            </tr>
                            <tr>
                                <td>PLEIN</td>
                                <td>     </td>
                                <td>PLEIN</td>
                                <td>     </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>  
            </div> -->
            <div class='row'>  
                <div class="col-12">     
                    <table class="table table-bordered table-striped">
                        <thead class="table-primary">
                            <tr>
                                <th colspan=8 class="align-middle"> LIEU DE LIVRAISON</th>
                                <th  class="align-middle" style="width:25%;"> COMMENTAIRE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-danger">
                                <th>HEURE PREVUE</th>
                                <th>CODE MAGASIN</th>
                                <th>ADRESSE</th>
                                <th>QTE ROLLS</th>
                                <th>QTE PALETTE</th>
                                <th>CONFIRMATION DE CHARGEMENT</th>
                                <th>HEURE ARRIVEE</th>
                                <th>HEURE DEPART</th>
                                <td>   </td>
                            </tr>
                            {%for cam in camion%}
                                <tr>
                                    <td> {{cam[2]}}   </td>
                                    <td>  {{cam[1]}}  </td>
                                    <td> {{cam[3]}}   </td>
                                    <td> {{cam[4]}}   </td>
                                    <td> {{cam[5]}}   </td>
                                    <td>    </td>
                                    <td>    </td>
                                    <td>    </td>
                                    <td>    </td>
                                </tr>
                            {%endfor%}    
                            
                        </tbody>
                    </table>
                </div>  
                
            </div> 
        
        </div>  
    </fontT>
    </body>
</html>