{% extends 'layouts/default.html' %}
{% block body%}
{% include 'layouts/shared/_menu-admin.html'%}

        
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">  
        {% include 'layouts/shared/_menu_compteUser_admin.html'%}
      </div>
      <div class="col-md-10"> 
        <div id="loginbox" class="mainbox col-md-10 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
          <div class="card">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <h5 class="card-header card text-center d-inline"> <i class="fas fa-user-minus"></i>  Suppression d'un compte utilisateur:</h5>
              <div class="card-body">
                <div class="border border_secondary rounded-sm"> 
                  <form id="form" method="POST" class="container form-horizontal " enctype="multipart/form-data" ACTION="{{ url_for('supprimer_user') }}">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-info" type="submit" id="button-addon1">Rechercher</button>
                      </div>
                      <input type="text" class="form-control" name="rech_user" placeholder="Nom/prenom ou pseudo utilisateur" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <div class="input-group-append">
                                                  <!-- Button trigger modal -->
                        <button  type="button"   class="btn btn-info" data-toggle="modal" data-target="#supprimer_user" data-whatever="@getbootstrap" >Supprimer Utilisateur</button>
                        
                      </div>
                    </div>
                    <table id ='list_user' class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" style="width:25%;">Pseudo</th>
                          <th scope="col" style="width:25%;">Nom</th>
                          <th scope="col" style="width:20%;">Prénom</th>
                          <th scope="col" style="width:25%;">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in liste_user %}  
                          <tr>
                            <th scope="row">
                              <div class="form-check">
                                <input class="form-check-input position-static" type="radio" checked="checked" name="user_select" id="R_user" value="{{user[0]}}" aria-label="...">
                              </div>  
                            </th>
                            <td id="table_pseudo">{{user[1]}}</td>
                            <td id="table_nom">{{user[2]}}</td>
                            <td id="table_prenom">{{user[3]}}</td>
                            <td id="table_role">{{user[4]}}</td>
                            <td id="table_role_id" hidden>{{user[4]}}</td>
                            <td id="table_user_id" hidden>{{user[0]}}</td>
                            
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </form>              
                </div>
              </div>    
                    
            </div>    
          </div>  
        </div>    
      </div>
    </div>  
</div>

 <!-- Modal Supprimer-->
  <div class="modal fade" id="supprimer_user" tabindex="-1" aria-labelledby="supprimer_user" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="supprimer_user">Confirmation...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ url_for('user_supprimé') }}" method="post">
          <div class="modal-body">
            <div class="form-group">
              <p> Veuillez confirmer la suppression de l'utilisateur coché</p>
              <input type="text" name="user_id"  id="sup_user_id" hidden/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary"  >Supprimer</button>
          </div> 
        </form>
        
      </div>
    </div>
  </div>



 <script>

  

  $('#supprimer_user').on('shown.bs.modal', function (e) {
    //debut
    var row_selected = $("input:radio:checked", "#list_user").closest('tr');
    
    //var nom= row_selected.children("#table_nom").text();
    $('#sup_user_id').val(row_selected.children("#table_user_id").text())
    
    //fin
  })
</script>      

{% endblock%} 