

<div class="sidenav">
  <a href="{{ url_for('ajouter_chauf') }}">Ajouter Chauffeur</a>
  <a href="{{ url_for('modifier_chauffeur') }}">Modifier Chauffeur</a>
  <a href="{{ url_for('modifier_chauffeur') }}">Supprimer Chauffeur</a>
  <a href="{{ url_for('ajouter_statut_chauf') }}">Ajouter Statut Chauffeur</a>
  <a href="{{url_for('edit_staut_chauf')}}">Modifier Statut Chauffeur</a>
  <a href="{{url_for('edit_staut_chauf')}}">Supprimer Statut Chauffeur</a>
  <a href="{{url_for('ajouter_contrat_chauf')}}">Ajouter Contrat Chauffeur</a>
  <a href="{{url_for('edit_contrat_chauf')}}">Modifier Contrat Chauffeur</a>
  <a href="{{url_for('edit_contrat_chauf')}}">Supprimer Contrat Chauffeur</a>
  <a href="{{url_for('tableau_recap_chauffeur')}}">Tableaux Congés Chauffeurs </a>
  
</div>
