
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('identification') }}">
      <img src="{{url_for('static', filename='images/JP1.jpg')}}" width="100" height="45" class="d-inline-block align-top" alt="" loading="lazy">
      PERRENOT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tournée
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('selection_magasins') }}">Nouvelles Tournées</a>
            <a class="dropdown-item" href="#">Modifier Tournées</a>
            <a class="dropdown-item" href="#">Reprendre Tournées Brouillon</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Feuilles de Route
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('form_facturation') }}">Imprimer Feuilles de route</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Facturations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#facturation">Formulaire Facturation</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#impression_facturation">Imprimer Tableaux Récapitulatifs</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#facturation_journaliere">Imprimer Facturation Journalière</a>
            <a class="dropdown-item" href="{{ url_for('ajouter_navette') }}">Ajouter/ Editer  Navette</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ url_for('espace_chauf') }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chauffeur
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('espace_chauf') }}">Espace Chauffeur</a>
            <a class="dropdown-item" href="{{ url_for('ajouter_chauf') }}">Ajouter Chauffeur</a>
            <a class="dropdown-item" href=" {{ url_for('modifier_chauffeur') }}">Modifier Chauffeur</a>  
            <a class="dropdown-item" href="{{ url_for('modifier_chauffeur') }}">Supprimer Chauffeur</a>
            <a class="dropdown-item" href="{{ url_for('ajouter_statut_chauf') }}">Ajouter Statut Chauffeur</a>
            <a class="dropdown-item" href=" {{ url_for('edit_staut_chauf') }}">Modifier Statut Chauffeur</a>
            <a class="dropdown-item" href=" {{ url_for('edit_staut_chauf') }}">Supprimer Statut Chauffeur</a>
            <a class="dropdown-item" href="{{url_for('ajouter_contrat_chauf')}}">Ajouter Contrat Chauffeur</a>
            <a class="dropdown-item" href="{{url_for('edit_contrat_chauf')}}">Modifier Contrat Chauffeur</a>
            <a class="dropdown-item" href="{{url_for('edit_contrat_chauf')}}">Supprimer Contrat Chauffeur</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Camion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('ajout_camion') }}">Ajouter Camion</a>
            <a class="dropdown-item" href="{{ url_for('edit_camion') }}">Modifier Camion</a>
            <a class="dropdown-item" href="{{ url_for('edit_camion') }}">Supprimer Camion</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enseigne
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('ajout_enseigne') }}">Ajouter Enseigne</a>
            <a class="dropdown-item" href="{{ url_for('modifier_enseigne') }}">Modifier Enseigne</a>
            <a class="dropdown-item" href="{{ url_for('modifier_enseigne') }}">Supprimer Enseigne</a>
            <a class="dropdown-item" href="{{ url_for('editer_tarif_casino') }}">Editer Tarification Casino</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Magasin   
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('ajouter_magasin') }}">Ajouter Magasin</a>
            <a class="dropdown-item" href="{{ url_for('editer_magasin') }}">Modifier Magasin</a>
            <a class="dropdown-item" href="{{ url_for('editer_magasin') }}">Supprimer Magasin</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dashboards
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#afficher_diagramme">Diagrammes</a>
            <a class="dropdown-item" href="{{ url_for('form_dataviz') }}">Rentabilité Tournées</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compte
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('ajouter_user') }}">Ajouter Compte</a>
            <a class="dropdown-item" href="">Supprimer Compte</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#apropos">
            A propos de...
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fas fa-user-circle fa-2x" data-toggle="tooltip" data-placement="top" title="Mon compte"></i></a>   
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('chang_info_user') }}">{{session['login']}}</a>
            <a class="dropdown-item" href="{{ url_for('se_deconnecter') }}">Se Deconnecter</a>
          </div>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
      </form>-->
      
      
    </div>
    
  </nav>
  
  <!-- Modal Apropos de-->
  <div class="modal fade" id="apropos" tabindex="-1" aria-labelledby="apropos" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="apropos">A Propos De...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p> Perrenot-web </p>
          <p> version 1.0 </p>...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
          
        </div>
      </div>
    </div>
  </div>
<!-- Modal facturation journalière-->
<div class="modal fade" id="facturation_journaliere" tabindex="-1" aria-labelledby="facturation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="apropos">Selectionner date de Facturation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  method="POST" id= "form3" ACTION="{{ url_for('facturation_journaliere') }}">
        <div class="modal-body">
          <div class="form-group">
            <label for="date" class="col-form-label" >Date Facturation:</label>
            <input type="date" class="form-control" id="date" name= "date_tour" required>  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Imprimer Facturation Journalière</button>
        </div>
      </form>  
    </div>
  </div>
</div>
  <!-- Modal facturation globale-->
  <div class="modal fade" id="facturation" tabindex="-1" aria-labelledby="facturation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="apropos">Selectionner date de Facturation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  method="POST" id= "form2" ACTION="{{ url_for('form_facturation') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="date" class="col-form-label" >Date Facturation:</label>
              <input type="date" class="form-control" id="date" name= "date" required>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Visualiser Formulaire</button>
          </div>
        </form>  
      </div>
    </div>
  </div>
  <!-- Modal diagramme-->
  <div class="modal fade" id="afficher_diagramme" tabindex="-1" aria-labelledby="impression_facturation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="apropos">Selectionner une période</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  method="POST" id= "form2" ACTION="{{ url_for('diagramme_aprs_tournees') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="date" class="col-form-label" >Du:</label>
              <input type="date" class="form-control" id="date" name= "date_debut" required>  
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label" >Au:</label>
              <input type="date" class="form-control" id="date" name= "date_fin" required>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Afficher les diagrammes</button>
          </div>
        </form>  
      </div>
    </div>
  </div>

  <!-- Modal impression facturation-->
  <div class="modal fade" id="impression_facturation" tabindex="-1" aria-labelledby="impression_facturation" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="apropos">Selectionner la période de Facturation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  method="POST" id= "form2" ACTION="{{ url_for('impression_facturation') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="date" class="col-form-label" >Du:</label>
              <input type="date" class="form-control" id="date" name= "date_debut" required>  
            </div>
            <div class="form-group">
              <label for="date" class="col-form-label" >Au:</label>
              <input type="date" class="form-control" id="date" name= "date_fin" required>  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Imprimer facturation</button>
          </div>
        </form>  
      </div>
    </div>
  </div>

  <br>
  
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
    {% endwith %}